# Extract P279s from the wikidataos file

In [1]:
# !kgtk filter -i ../data/wikidataos.for.text-embedding.tsv.gz -p ";P279;" -o ../data/P279_dataset/wikidata-P279.tsv

In [2]:
import pandas as pd
import scipy.stats as stats

In [3]:
p279DF = pd.read_csv('../data/P279_dataset/wikidata-P279.tsv',sep='\t')

In [4]:
len(p279DF)

721983

In [5]:
p279DFNew = p279DF
# p279DFNew = p279DF[:1000]

In [6]:
p279DFNew

,id,node1,label,node2,rank,node2;wikidatatype
0,Q100000030-P279-Q14748-30394205-0,Q100000030,P279,Q14748,normal,wikibase-item
1,Q100000058-P279-Q1622444-bd182663-0,Q100000058,P279,Q1622444,normal,wikibase-item
2,Q1000032-P279-Q1813494-0aa0f1dc-0,Q1000032,P279,Q1813494,normal,wikibase-item
3,Q1000032-P279-Q83602-482a1943-0,Q1000032,P279,Q83602,normal,wikibase-item
4,Q1000039-P279-Q11555767-2dddfd86-0,Q1000039,P279,Q11555767,normal,wikibase-item
...,...,...,...,...,...,...
721978,Q999981-P279-Q2990593-dbee3bf9-0,Q999981,P279,Q2990593,normal,wikibase-item
721979,Q99998337-P279-Q203920-0c6fcf31-0,Q99998337,P279,Q203920,normal,wikibase-item
721980,Q99998385-P279-Q203920-7ed228b8-0,Q99998385,P279,Q203920,normal,wikibase-item
721981,Q99998517-P279-Q4918149-39e16ef0-0,Q99998517,P279,Q4918149,normal,wikibase-item
721982,Q99999421-P279-Q622679-e690cdab-0,Q99999421,P279,Q622679,normal,wikibase-item

## Join with labels

In [7]:
labelsDF = pd.read_csv('../data/labels.en.tsv', sep='\t')

In [8]:
temp1 = p279DFNew.set_index('node1').join(labelsDF.set_index('node1'), rsuffix='_label')

In [9]:
temp1.head()

,id,label,node2,rank,node2;wikidatatype,id_label,label_label,node2_label
node1,,,,,,,,
Q100000030,Q100000030-P279-Q14748-30394205-0,P279,Q14748,normal,wikibase-item,NaN,NaN,NaN
Q100000058,Q100000058-P279-Q1622444-bd182663-0,P279,Q1622444,normal,wikibase-item,Q100000058-label-en,label,'tsunami stone'@en
Q1000032,Q1000032-P279-Q1813494-0aa0f1dc-0,P279,Q1813494,normal,wikibase-item,Q1000032-label-en,label,'unschooling'@en
Q1000032,Q1000032-P279-Q83602-482a1943-0,P279,Q83602,normal,wikibase-item,Q1000032-label-en,label,'unschooling'@en
Q1000039,Q1000039-P279-Q11555767-2dddfd86-0,P279,Q11555767,normal,wikibase-item,Q1000039-label-en,label,'Akita ranga'@en

In [10]:
temp1 = temp1[['id','label','node2','node2_label']]

In [11]:
temp2 = temp1.reset_index().set_index('node2').join(labelsDF.set_index('node1'), rsuffix='_label2')

In [12]:
temp3 = temp2[['id','node1','label','node2', 'node2_label']].rename(columns={'node2_label': 'node1_label', 'node2':'node2_label'}).reset_index().rename(columns={'index':'node2'})

In [13]:
temp3 = temp3[['id','node1','node1_label','label','node2','node2_label']]

In [14]:
temp3 = temp3[~temp3['node1_label'].isna()]
temp3 = temp3[~temp3['node2_label'].isna()]

In [15]:
temp3['node2_label'].isna().sum()

0

In [16]:
temp3['node1_label'] = temp3['node1_label'].apply(lambda p: p[1:-4])

In [17]:
temp3['node2_label'] = temp3['node2_label'].apply(lambda p: p[1:-4])

In [18]:
temp3

,id,node1,node1_label,label,node2,node2_label
1,Q17372279-P279-Q100026-beba8cd1-0,Q17372279,YF-16,P279,Q100026,F-16 Fighting Falcon
2,Q17372377-P279-Q100026-fd42bd71-0,Q17372377,F-16A/B Fighting Falcon,P279,Q100026,F-16 Fighting Falcon
3,Q17372444-P279-Q100026-ca0fc4bd-0,Q17372444,F-16C/D Fighting Falcon,P279,Q100026,F-16 Fighting Falcon
4,Q17372455-P279-Q100026-c2b1bf36-0,Q17372455,F-16E/F Desert Falcon,P279,Q100026,F-16 Fighting Falcon
5,Q2029940-P279-Q100026-ceba4380-0,Q2029940,F-16 VISTA,P279,Q100026,F-16 Fighting Falcon
...,...,...,...,...,...,...
721978,Q2259388-P279-Q999897-01a551b4-0,Q2259388,Ergon,P279,Q999897,middle management
721979,Q1294114-P279-Q999981-55b2910f-0,Q1294114,skin care,P279,Q999981,personal grooming
721980,Q48996240-P279-Q999981-d9e5c4dd-0,Q48996240,preening in birds,P279,Q999981,personal grooming
721981,Q56400028-P279-Q999981-7b184d82-0,Q56400028,haircut,P279,Q999981,personal grooming
721982,Q4918149-P279-Q99998517-04f0b672-0,Q4918149,Bisht,P279,Q99998517,Ahsa\'i Bisht

## Create child-parent sentences

In [19]:
temp3['sent'] = temp3.apply(lambda p: p['node1_label'] + ' is ' + p['node2_label'], axis=1)

## Form pairs

In [88]:
hierDF = temp3.copy()

In [89]:
hierDF.to_csv('../data/P279_dataset/hierDF.csv')

In [90]:
temp3

,id,node1,node1_label,label,node2,node2_label,sent
0,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae
1,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae
2,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae
3,Q100052791-P279-Q100052938-71a0f2ca-0,Q100052791,nthropomorphic ja,P279,Q100052938,fictional jaguar,nthropomorphic ja is fictional jaguar
4,Q100004761-P279-Q100095237-3971e1cd-0,Q100004761,helf l,P279,Q100095237,shop shelve,helf l is shop shelve
...,...,...,...,...,...,...,...
992,Q100165468-P279-Q99839432-a6842485-0,Q100165468,nthropomorphic axo,P279,Q99839432,fictional axolotl,nthropomorphic axo is fictional axolotl
993,Q100269055-P279-Q99913543-6a466631-0,Q100269055,oe,P279,Q99913543,toe cap,oe is toe cap
994,Q100145976-P279-Q99948390-4f0644a4-0,Q100145976,pen,P279,Q99948390,toe,pen is toe
995,Q100145990-P279-Q99948390-fe46cfdd-0,Q100145990,eep,P279,Q99948390,toe,eep is toe
996,Q100148318-P279-Q99971015-9011d906-0,Q100148318,nthropomorphic,P279,Q99971015,anthropomorphic cow or other cattle,nthropomorphic is anthropomorphic cow or othe...

In [91]:
pairLeftDF = temp3.copy()
pairRightDF = temp3.copy()

In [92]:
pairsDF = pairLeftDF.set_index('node2').join(pairRightDF.set_index('node2'),rsuffix='_right').reset_index()

In [93]:
pairsDF.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right
0,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae
1,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae
2,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae
3,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae
4,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae

In [94]:
pairsDF['set_nodes'] = pairsDF.apply(lambda p: str(sorted([p.node1, p.node1_right]) + [p.node2]), axis=1)

In [95]:
pairsDF1 = pairsDF[~pairsDF['set_nodes'].duplicated()]

In [96]:
print(f"{len(pairsDF)} statements get reduced to {len(pairsDF1)} statements after checking for duplicate pairs")

5979 statements get reduced to 3429 statements after checking for duplicate pairs

In [97]:
pairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes
0,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,"['Q100052562', 'Q100052562', 'Q100052008']"
1,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,"['Q100052562', 'Q100052791', 'Q100052008']"
2,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,"['Q100052562', 'Q100119502', 'Q100052008']"
4,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,"['Q100052791', 'Q100052791', 'Q100052008']"
5,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,"['Q100052791', 'Q100119502', 'Q100052008']"

In [98]:
pairsDF1['comb_sent'] = pairsDF1.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)

<ipython-input-98-1646efbabaaf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pairsDF1['comb_sent'] = pairsDF1.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)

In [99]:
pairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes,comb_sent
0,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,"['Q100052562', 'Q100052562', 'Q100052008']",anthropomorphic Pantherinae such as nthropomor...
1,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,"['Q100052562', 'Q100052791', 'Q100052008']",anthropomorphic Pantherinae such as nthropomor...
2,Q100052008,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,"['Q100052562', 'Q100119502', 'Q100052008']",anthropomorphic Pantherinae such as nthropomor...
4,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,"['Q100052791', 'Q100052791', 'Q100052008']",anthropomorphic Pantherinae such as nthropomor...
5,Q100052008,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,"['Q100052791', 'Q100119502', 'Q100052008']",anthropomorphic Pantherinae such as nthropomor...

In [100]:
pairsDF2 = pairsDF1[['node1', 'node2', 'node1_right', 'node1_label', 'node2_label', 'node1_label_right', 'sent', 'sent_right', 'comb_sent']]

In [101]:
pairsDF3 = pairsDF2.rename(columns={'node1_right': 'node2', 'node2': 'parent', 'node1_label_right': 'node2_label', 'node2_label': 'par_label', 'sent': 'node1_sent', 'sent_right': 'node2_sent'})

In [102]:
pairsDF3.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent
0,Q100052562,Q100052008,Q100052562,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic pan,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
1,Q100052562,Q100052008,Q100052791,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
2,Q100052562,Q100052008,Q100119502,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
4,Q100052791,Q100052008,Q100052791,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
5,Q100052791,Q100052008,Q100119502,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...

In [103]:
pairsDF.to_csv("../data/P279_dataset/pairsDF.csv")

In [104]:
pairsDF3.to_csv("../data/P279_dataset/pairsDF3.csv", index=False)

# Similarity Scores Construction

In [29]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from time import time
import pandas as pd

In [30]:
def getSentEmbeddings(valSeries, modelName):
    model = SentenceTransformer(modelName)
    start = time()
    encodings = model.encode(valSeries.to_list())
    print(time()-start,'s')
    return encodings

## BERT Child Parent Embeddings - Labels based

In [107]:
hierDF = pd.read_csv('../data/P279_dataset/hierDF.csv')

In [108]:
hierDF1 = hierDF[~hierDF.node1_label.isna()].reset_index().drop(columns=['index'])

In [109]:
hierDF1.node1_label.isna().sum(), hierDF1.node2_label.isna().sum()

(0, 0)

In [110]:
hierDF1['node1_emb'] = pd.Series(list(getSentEmbeddings(hierDF1.node1_label, 'bert-base-nli-mean-tokens')))
hierDF1['node2_emb'] = pd.Series(list(getSentEmbeddings(hierDF1.node2_label, 'bert-base-nli-mean-tokens')))

0.47850561141967773 s
0.40022730827331543 s

In [111]:
hierDF1['bertChildParSim'] = hierDF1.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

In [135]:
hierDF1.head()

,Unnamed: 0,id,node1,node1_label,label,node2,node2_label,sent,gptChildParPpl
0,0,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,2.172506
1,1,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,2.318752
2,2,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,2.184794
3,3,Q100052791-P279-Q100052938-71a0f2ca-0,Q100052791,nthropomorphic ja,P279,Q100052938,fictional jaguar,nthropomorphic ja is fictional jaguar,2.516336
4,4,Q100004761-P279-Q100095237-3971e1cd-0,Q100004761,helf l,P279,Q100095237,shop shelve,helf l is shop shelve,3.221734

In [113]:
len(hierDF1)

839

In [114]:
hierDF1['bertChildParSim'].describe()

count    839.000000
mean       0.586407
std        0.147204
min        0.060429
25%        0.496083
50%        0.607622
75%        0.688008
max        0.952739
Name: bertChildParSim, dtype: float64

In [115]:
hierDF1.to_csv('../data/P279_dataset/hierDF1_simScores.csv')

## BERT 2 Sent Embeddings (Siblings)

In [44]:
pairsDF3 = pd.read_csv("../data/P279_dataset/pairsDF3.csv")

In [45]:
pairsDF3.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent
0,Q100052562,Q100052008,Q100052562,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic pan,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
1,Q100052562,Q100052008,Q100052791,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
2,Q100052562,Q100052008,Q100119502,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
3,Q100052791,Q100052008,Q100052791,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...
4,Q100052791,Q100052008,Q100119502,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...

In [118]:
pairsDF3['node1_emb'] = pd.Series(list(getSentEmbeddings(pairsDF3.node1_sent, 'bert-base-nli-mean-tokens')))
pairsDF3['node2_emb'] = pd.Series(list(getSentEmbeddings(pairsDF3.node2_sent, 'bert-base-nli-mean-tokens')))

1.6303539276123047 s
1.4965293407440186 s

In [119]:
pairsDF3['bert2SentSim'] = pairsDF3.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

In [120]:
pairsDF3.to_csv("../data/P279_dataset/pairsDF3_simScores.csv", index=False)

In [121]:
pairsDF3.iloc[86]['bert2SentSim'], cosine_similarity(pairsDF3.iloc[86].node1_emb.reshape(1,-1), pairsDF3.iloc[86].node2_emb.reshape(1,-1))[0][0]

(0.9541891813278198, 0.9541892)

In [136]:
len(pairsDF3)

3429

In [122]:
pairsDF3.bert2SentSim.describe()

count    3429.000000
mean        0.944740
std         0.063054
min         0.384220
25%         0.912423
50%         0.964450
75%         1.000000
max         1.000000
Name: bert2SentSim, dtype: float64

## GPT2 Child Parent perplexity computation

In [37]:
from transformers import GPT2LMHeadModel, GPT2Tokenizer

In [38]:
# build gpt model
model = GPT2LMHeadModel.from_pretrained('gpt2')
tokenizer = GPT2Tokenizer.from_pretrained('gpt2')

def score(sent1):
    # input sentence tensor
    # output score
    tokens_tensor = tokenizer.encode(sent1, add_special_tokens=False, return_tensors="pt")
    loss = model(tokens_tensor, labels=tokens_tensor)[0]
#     print(tokens_tensor.size(1))
    return np.exp(loss.cpu().detach().numpy() / tokens_tensor.size(1))

In [125]:
hierDF1 = hierDF[~hierDF.node1_label.isna()].reset_index().drop(columns=['index'])

In [126]:
hierDF1.head()

,Unnamed: 0,id,node1,node1_label,label,node2,node2_label,sent
0,0,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae
1,1,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae
2,2,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae
3,3,Q100052791-P279-Q100052938-71a0f2ca-0,Q100052791,nthropomorphic ja,P279,Q100052938,fictional jaguar,nthropomorphic ja is fictional jaguar
4,4,Q100004761-P279-Q100095237-3971e1cd-0,Q100004761,helf l,P279,Q100095237,shop shelve,helf l is shop shelve

In [127]:
hierDF1['gptChildParPpl'] = hierDF1.sent.apply(gpt_score)

In [128]:
hierDF1.head()

,Unnamed: 0,id,node1,node1_label,label,node2,node2_label,sent,gptChildParPpl
0,0,Q100052562-P279-Q100052008-1a4fa432-0,Q100052562,nthropomorphic pan,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,2.172506
1,1,Q100052791-P279-Q100052008-1d15b1ae-0,Q100052791,nthropomorphic ja,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,2.318752
2,2,Q100119502-P279-Q100052008-d2c330a4-0,Q100119502,nthropomorphic t,P279,Q100052008,anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,2.184794
3,3,Q100052791-P279-Q100052938-71a0f2ca-0,Q100052791,nthropomorphic ja,P279,Q100052938,fictional jaguar,nthropomorphic ja is fictional jaguar,2.516336
4,4,Q100004761-P279-Q100095237-3971e1cd-0,Q100004761,helf l,P279,Q100095237,shop shelve,helf l is shop shelve,3.221734

In [129]:
hierDF1['gptChildParPpl'].describe()

count    839.000000
mean       4.615804
std        3.825699
min        1.111450
25%        2.006814
50%        3.344577
75%        5.765571
max       29.560613
Name: gptChildParPpl, dtype: float64

## GPT2 2 Sent Perplexity

In [130]:
pairsDF3.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent,node1_emb,node2_emb,bert2SentSim
0,Q100052562,Q100052008,Q100052562,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic pan,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic pan is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...,"[-0.38264108, 0.3698052, -0.452593, -0.0875713...","[-0.38264108, 0.3698052, -0.452593, -0.0875713...",1.000000
1,Q100052562,Q100052008,Q100052791,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...,"[-0.38264108, 0.3698052, -0.452593, -0.0875713...","[-0.38223487, 0.35599083, -0.44246477, -0.1346...",0.980127
2,Q100052562,Q100052008,Q100119502,nthropomorphic pan,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic pan is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...,"[-0.38264108, 0.3698052, -0.452593, -0.0875713...","[-0.31828552, 0.2023329, -0.23166429, 0.037530...",0.980426
3,Q100052791,Q100052008,Q100052791,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic ja,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic ja is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...,"[-0.382235, 0.35599056, -0.44246483, -0.134666...","[-0.38223487, 0.35599083, -0.44246477, -0.1346...",1.000000
4,Q100052791,Q100052008,Q100119502,nthropomorphic ja,anthropomorphic Pantherinae,nthropomorphic t,nthropomorphic ja is anthropomorphic Pantherinae,nthropomorphic t is anthropomorphic Pantherinae,anthropomorphic Pantherinae such as nthropomor...,"[-0.38223487, 0.35599083, -0.44246477, -0.1346...","[-0.31828552, 0.2023329, -0.23166429, 0.037530...",0.990308

In [131]:
pairsDF3['gpt2SentPpl'] = pairsDF3.comb_sent.apply(gpt_score)

In [132]:
pairsDF3.to_csv("../data/P279_dataset/pairsDF3_simScores.csv", index=False)

In [133]:
pairsDF3['gpt2SentPpl'].describe()

count    3429.000000
mean        1.564343
std         0.443964
min         1.058665
25%         1.226182
50%         1.289757
75%         1.894221
max         3.545120
Name: gpt2SentPpl, dtype: float64

In [134]:
hierDF1.to_csv('../data/P279_dataset/hierDF1_simScores.csv')

# Wordsim

In [65]:
import pandas as pd

In [66]:
p279DF = pd.read_csv('../data/P279_dataset/wikidata-P279.tsv',sep='\t')

In [67]:
len(p279DF)

721983

In [68]:
p279DFNew = p279DF
labelsDF = pd.read_csv('../data/labels.en.tsv', sep='\t')
temp1 = p279DFNew.set_index('node1').join(labelsDF.set_index('node1'), rsuffix='_label')
temp1 = temp1[['id','label','node2','node2_label']]
temp2 = temp1.reset_index().set_index('node2').join(labelsDF.set_index('node1'), rsuffix='_label2')
temp3 = temp2[['id','node1','label','node2', 'node2_label']].rename(columns={'node2_label': 'node1_label', 'node2':'node2_label'}).reset_index().rename(columns={'index':'node2'})
temp3 = temp3[['id','node1','node1_label','label','node2','node2_label']]
temp3 = temp3[~temp3['node1_label'].isna()]
temp3 = temp3[~temp3['node2_label'].isna()]
temp3['node2_label'].isna().sum()
temp3['node1_label'] = temp3['node1_label'].apply(lambda p: p[1:-4])
temp3['node2_label'] = temp3['node2_label'].apply(lambda p: p[1:-4])
temp3['sent'] = temp3.apply(lambda p: p['node1_label'] + ' is ' + p['node2_label'], axis=1)
temp3.head()

KeyboardInterrupt:

In [137]:
!wget http://alfonseca.org/pubs/ws353simrel.tar.gz -o ../data/ws353simrel.tar.gz

In [2]:
!ls ../data/wordsim353_sim_rel

wordsim353_agreed.txt	   wordsim_relatedness_goldstandard.txt
wordsim353_annotator1.txt  wordsim_similarity_goldstandard.txt
wordsim353_annotator2.txt

In [20]:
cat ../data/wordsim353_sim_rel/wordsim_similarity_goldstandard.txt

tiger	cat	7.35
tiger	tiger	10.00
plane	car	5.77
train	car	6.31
television	radio	6.77
media	radio	7.42
bread	butter	6.19
cucumber	potato	5.92
doctor	nurse	7.00
professor	doctor	6.62
student	professor	6.81
smart	stupid	5.81
wood	forest	7.73
money	cash	9.15
king	queen	8.58
king	rook	5.92
bishop	rabbi	6.69
fuck	sex	9.44
football	soccer	9.03
football	basketball	6.81
football	tennis	6.63
Arafat	Jackson	2.50
physics	chemistry	7.35
vodka	gin	8.46
vodka	brandy	8.13
drink	eat	6.87
car	automobile	8.94
gem	jewel	8.96
journey	voyage	9.29
boy	lad	8.83
coast	shore	9.10
asylum	madhouse	8.87
magician	wizard	9.02
midday	noon	9.29
furnace	stove	8.79
food	fruit	7.52
bird	cock	7.10
bird	crane	7.38
food	rooster	4.42
money	dollar	8.42
money	currency	9.04
tiger	jaguar	8.00
tiger	feline	8.00
tiger	carnivore	7.08
tiger	mammal	6.85
tiger	animal	7.00
tiger	organism	4.77
tiger	fauna	5.62
psychology	psychiatry	8.08
psychology	science	6.71
psychology	discipline	5.58
planet	star	8.45
planet	moon	8.08
planet	sun	8.02
precedent	example	5.85
precedent	antecedent	6.04
cup	tableware	6.85
cup	artifact	2.92
cup	object	3.69
cup	entity	2.15
jaguar	cat	7.42
jaguar	car	7.27
mile	kilometer	8.66
skin	eye	6.22
Japanese	American	6.50
century	year	7.59
announcement	news	7.56
doctor	personnel	5.00
Harvard	Yale	8.13
hospital	infrastructure	4.63
life	death	7.88
travel	activity	5.00
type	kind	8.97
street	place	6.44
street	avenue	8.88
street	block	6.88
cell	phone	7.81
dividend	payment	7.63
calculation	computation	8.44
profit	loss	7.63
dollar	yen	7.78
dollar	buck	9.22
phone	equipment	7.13
liquid	water	7.89
marathon	sprint	7.47
seafood	food	8.34
seafood	lobster	8.70
lobster	food	7.81
lobster	wine	5.70
championship	tournament	8.36
man	woman	8.30
man	governor	5.25
murder	manslaughter	8.53
opera	performance	6.88
Mexico	Brazil	7.44
glass	metal	5.56
aluminum	metal	7.83
rock	jazz	7.59
museum	theater	7.19
shower	thunderstorm	6.31
monk	oracle	5.00
cup	food	5.00
journal	association	4.97
street	children	4.94
car	flight	4.94
space	chemistry	4.88
situation	conclusion	4.81
word	similarity	4.75
peace	plan	4.75
consumer	energy	4.75
ministry	culture	4.69
smart	student	4.62
investigation	effort	4.59
image	surface	4.56
life	term	4.50
start	match	4.47
computer	news	4.47
board	recommendation	4.47
lad	brother	4.46
observation	architecture	4.38
coast	hill	4.38
deployment	departure	4.25
benchmark	index	4.25
attempt	peace	4.25
consumer	confidence	4.13
start	year	4.06
focus	life	4.06
development	issue	3.97
theater	history	3.91
situation	isolation	3.88
profit	warning	3.88
media	trading	3.88
chance	credibility	3.88
precedent	information	3.85
architecture	century	3.78
population	development	3.75
stock	live	3.73
peace	atmosphere	3.69
morality	marriage	3.69
minority	peace	3.69
atmosphere	landscape	3.69
report	gain	3.63
music	project	3.63
seven	series	3.56
experience	music	3.47
school	center	3.44
five	month	3.38
announcement	production	3.38
morality	importance	3.31
money	operation	3.31
delay	news	3.31
governor	interview	3.25
practice	institution	3.19
century	nation	3.16
coast	forest	3.15
shore	woodland	3.08
drink	car	3.04
president	medal	3.00
prejudice	recognition	3.00
viewer	serial	2.97
peace	insurance	2.94
Mars	water	2.94
media	gain	2.88
precedent	cognition	2.81
announcement	effort	2.75
line	insurance	2.69
crane	implement	2.69
drink	mother	2.65
opera	industry	2.63
volunteer	motto	2.56
listing	proximity	2.56
precedent	collection	2.50
cup	article	2.40
sign	recess	2.38
problem	airport	2.38
reason	hypertension	2.31
direction	combination	2.25
Wednesday	news	2.22
glass	magician	2.08
cemetery	woodland	2.08
possibility	girl	1.94
cup	substance	1.92
forest	graveyard	1.85
stock	egg	1.81
month	hotel	1.81
energy	secretary	1.81
precedent	group	1.77
production	hike	1.75
stock	phone	1.62
holy	sex	1.62
stock	CD	1.31
drink	ear	1.31
delay	racism	1.19
stock	life	0.92
stock	jaguar	0.92
monk	slave	0.92
lad	wizard	0.92
sugar	approach	0.88
rooster	voyage	0.62
noon	string	0.54
chord	smile	0.54
professor	cucumber	0.31
king	cabbage	0.23

In [29]:
wordSimDF = pd.read_csv('../data/wordsim353_sim_rel/wordsim_similarity_goldstandard.txt', sep='\t', header=None)

In [30]:
wordSimDF.columns=['word1', 'word2', 'sim']

In [31]:
wordSimDF.head()

        word1  word2    sim
0       tiger    cat   7.35
1       tiger  tiger  10.00
2       plane    car   5.77
3       train    car   6.31
4  television  radio   6.77

In [21]:
temp3.head()

,id,node1,node1_label,label,node2,node2_label,sent
1,Q17372279-P279-Q100026-beba8cd1-0,Q17372279,YF-16,P279,Q100026,F-16 Fighting Falcon,YF-16 is F-16 Fighting Falcon
2,Q17372377-P279-Q100026-fd42bd71-0,Q17372377,F-16A/B Fighting Falcon,P279,Q100026,F-16 Fighting Falcon,F-16A/B Fighting Falcon is F-16 Fighting Falcon
3,Q17372444-P279-Q100026-ca0fc4bd-0,Q17372444,F-16C/D Fighting Falcon,P279,Q100026,F-16 Fighting Falcon,F-16C/D Fighting Falcon is F-16 Fighting Falcon
4,Q17372455-P279-Q100026-c2b1bf36-0,Q17372455,F-16E/F Desert Falcon,P279,Q100026,F-16 Fighting Falcon,F-16E/F Desert Falcon is F-16 Fighting Falcon
5,Q2029940-P279-Q100026-ceba4380-0,Q2029940,F-16 VISTA,P279,Q100026,F-16 Fighting Falcon,F-16 VISTA is F-16 Fighting Falcon

In [64]:
# temp3[temp3.node1_label.apply(lambda p: 'tiger' in p)]

## Extracting wordsim words from wikidata P279 dataset

In [49]:
wordSimWordPairsSet = set(wordSimDF.apply(lambda p: (p.word1, p.word2), axis=1).tolist())
wordSimWordsSet = set(wordSimDF.word1.tolist() + wordSimDF.word2.tolist())

In [41]:
temp3wordsimed = temp3[temp3.apply(lambda p: (p.node1_label, p.node2_label) in wordSimWordPairsSet, axis=1)]

In [42]:
temp3wordsimed

,id,node1,node1_label,label,node2,node2_label,sent
225669,Q61509-P279-Q1914636-522de7b1-0,Q61509,travel,P279,Q1914636,activity,travel is activity
253542,Q192935-P279-Q2095-c9aba5ef-0,Q192935,seafood,P279,Q2095,food,seafood is food
480116,Q93352-P279-Q468756-18da9376-0,Q93352,coast,P279,Q468756,shore,coast is shore

## Extracting wordsim words from wikidata P279 siblings dataset

### Generate new P279 siblings dataset from wordsim words subset

In [53]:
P279wordsimed = temp3[temp3.node1_label.apply(lambda p: p in wordSimWordsSet)]

In [54]:
len(P279wordsimed)

699

In [55]:
newPairLeftDF = P279wordsimed.copy()
newPairRightDF = P279wordsimed.copy()

In [56]:
newPairsDF = newPairLeftDF.set_index('node2').join(newPairRightDF.set_index('node2'),rsuffix='_right').reset_index()

In [57]:
newPairsDF.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right
0,Q100257358,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre
1,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical
2,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical
3,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical
4,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical

In [58]:
newPairsDF['set_nodes'] = newPairsDF.apply(lambda p: str(sorted([p.node1, p.node1_right]) + [p.node2]), axis=1)

In [59]:
newPairsDF1 = newPairsDF[~newPairsDF['set_nodes'].duplicated()]

In [60]:
print(f"{len(newPairsDF)} statements get reduced to {len(newPairsDF1)} statements after checking for duplicate pairs")

1143 statements get reduced to 916 statements after checking for duplicate pairs

In [61]:
newPairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes
0,Q100257358,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre,"['Q15209696', 'Q15209696', 'Q100257358']"
1,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,"['Q28869365', 'Q28869365', 'Q1002697']"
2,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q28869365', 'Q49850', 'Q1002697']"
4,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q49850', 'Q49850', 'Q1002697']"
5,Q101604684,Q12562111-P279-Q101604684-bde28046-0,Q12562111,series,P279,lithodemic unit,series is lithodemic unit,Q12562111-P279-Q101604684-bde28046-0,Q12562111,series,P279,lithodemic unit,series is lithodemic unit,"['Q12562111', 'Q12562111', 'Q101604684']"

In [62]:
newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)

<ipython-input-62-727272aca744>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)

In [63]:
newPairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes,comb_sent
0,Q100257358,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre,Q15209696-P279-Q100257358-c4b60f40-0,Q15209696,profit,P279,lucre,profit is lucre,"['Q15209696', 'Q15209696', 'Q100257358']",lucre such as profit and profit
1,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,"['Q28869365', 'Q28869365', 'Q1002697']",periodical such as issue and issue
2,Q1002697,Q28869365-P279-Q1002697-ef7c4062-0,Q28869365,issue,P279,periodical,issue is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q28869365', 'Q49850', 'Q1002697']",periodical such as issue and journal
4,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q49850', 'Q49850', 'Q1002697']",periodical such as journal and journal
5,Q101604684,Q12562111-P279-Q101604684-bde28046-0,Q12562111,series,P279,lithodemic unit,series is lithodemic unit,Q12562111-P279-Q101604684-bde28046-0,Q12562111,series,P279,lithodemic unit,series is lithodemic unit,"['Q12562111', 'Q12562111', 'Q101604684']",lithodemic unit such as series and series

In [64]:
newPairsDF2 = newPairsDF1[['node1', 'node2', 'node1_right', 'node1_label', 'node2_label', 'node1_label_right', 'sent', 'sent_right', 'comb_sent']]

In [65]:
newPairsDF3 = newPairsDF2.rename(columns={'node1_right': 'node2', 'node2': 'parent', 'node1_label_right': 'node2_label', 'node2_label': 'par_label', 'sent': 'node1_sent', 'sent_right': 'node2_sent'})

In [66]:
newPairsDF3.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent
0,Q15209696,Q100257358,Q15209696,profit,lucre,profit,profit is lucre,profit is lucre,lucre such as profit and profit
1,Q28869365,Q1002697,Q28869365,issue,periodical,issue,issue is periodical,issue is periodical,periodical such as issue and issue
2,Q28869365,Q1002697,Q49850,issue,periodical,journal,issue is periodical,journal is periodical,periodical such as issue and journal
4,Q49850,Q1002697,Q49850,journal,periodical,journal,journal is periodical,journal is periodical,periodical such as journal and journal
5,Q12562111,Q101604684,Q12562111,series,lithodemic unit,series,series is lithodemic unit,series is lithodemic unit,lithodemic unit such as series and series

In [63]:
newPairsDF3wordsimed = newPairsDF3[newPairsDF3.apply(lambda p: (p.node1_label, p.node2_label) in wordSimWordSet, axis=1)]

NameError: name 'wordSimWordSet' is not defined

In [64]:
newPairsDF3wordsimed

NameError: name 'newPairsDF3wordsimed' is not defined

In [62]:
len(newPairsDF3wordsimed)

NameError: name 'newPairsDF3wordsimed' is not defined

# Amandeep's Sim File Computation

In [20]:
wordSimDF = pd.read_csv("../data/wordsim.csv")

## Extracting wordsim word pairs from wikidata P279 dataset

Basis: Find child-parent samples which are in wordsim

In [21]:
wordSimWordPairsSet = set(wordSimDF.apply(lambda p: (p.word1_kg_id, p.word2_kg_id), axis=1).tolist())
wordSimWordsSet = set(wordSimDF.word1_kg_id.tolist() + wordSimDF.word2_kg_id.tolist())

In [22]:
temp3wordsimed = temp3[temp3.apply(lambda p: (p.node1, p.node2) in wordSimWordPairsSet, axis=1)]

In [23]:
temp3wordsimed

,id,node1,node1_label,label,node2,node2_label,sent
225669,Q61509-P279-Q1914636-522de7b1-0,Q61509,travel,P279,Q1914636,activity,travel is activity
253542,Q192935-P279-Q2095-c9aba5ef-0,Q192935,seafood,P279,Q2095,food,seafood is food
480116,Q93352-P279-Q468756-18da9376-0,Q93352,coast,P279,Q468756,shore,coast is shore
495543,Q98069877-P279-Q49848-07219034-0,Q98069877,video,P279,Q49848,document,video is document

In [24]:
wordSimDF.head()

,Word 1,word1_kg_id,word1_kg_label,word1_kg_description,Word 2,word2_kg_id,word2_kg_label,word2_kg_description,Human (Mean),complex,transe,text,class
0,admission,Q847337,confession,statement made by a person or a group of perso...,ticket,Q551800,ticket,paper or cardboard document showing payment fo...,5.5360,0.361115,0.446632,0.485653,NaN
1,alcohol,Q154,alcoholic beverage,"drink containing alcohols, typically ethanol",chemistry,Q2329,chemistry,branch of physical science concerned with the ...,4.1250,0.302163,0.274388,0.479313,0.005851
2,aluminum,Q663,aluminium,metallic chemical element of silvery appearanc...,metal,Q11426,metal,"element, compound or alloy that is a good cond...",6.6250,0.694462,0.429289,0.626784,0.393657
3,announcement,Q567303,announcement,"printed, spoken, or published statement or not...",effort,Q14536140,exertion,use of physical or perceived energy by a person,2.0625,0.324825,0.379077,0.618644,0.208812
4,announcement,Q567303,announcement,"printed, spoken, or published statement or not...",news,Q38926,news,communication of selected information on curre...,7.1875,0.361214,0.360383,0.863846,0.888621

In [25]:
temp3wordsimedMergedDF = temp3wordsimed.set_index(['node1', 'node2']).join(wordSimDF.rename(columns={'word1_kg_id': 'node1', 'word2_kg_id': 'node2'}).set_index(['node1', 'node2']))

In [26]:
temp3wordsimedMergedDF.head()

,,id,node1_label,label,node2_label,sent,Word 1,word1_kg_label,word1_kg_description,Word 2,word2_kg_label,word2_kg_description,Human (Mean),complex,transe,text,class
node1,node2,,,,,,,,,,,,,,,,
Q192935,Q2095,Q192935-P279-Q2095-c9aba5ef-0,seafood,P279,food,seafood is food,seafood,seafood,"food from the sea, e.g. fish, shrimp, crab, mu...",food,food,any substance consumed to provide nutritional ...,6.8750,0.531331,0.467495,0.664127,0.565204
Q61509,Q1914636,Q61509-P279-Q1914636-522de7b1-0,travel,P279,activity,travel is activity,travel,travel,movement of people between relatively distant ...,activity,activity,event; actions that result in changes of state,4.1875,0.400234,0.638347,0.682683,0.136251
Q93352,Q468756,Q93352-P279-Q468756-18da9376-0,coast,P279,shore,coast is shore,coast,coast,area where land meets the sea or ocean,shore,shore,fringe of land at the edge of a large body of ...,8.2755,0.604508,0.628945,0.859171,0.539750
Q98069877,Q49848,Q98069877-P279-Q49848-07219034-0,video,P279,document,video is document,video,video,motion picture format,archive,document,preserved information,3.4375,0.530936,0.260283,0.679086,0.649235

In [27]:
temp3wordsimedMergedDF = temp3wordsimedMergedDF.reset_index()

In [31]:
temp3wordsimedMergedDF['node1_emb'] = pd.Series(list(getSentEmbeddings(temp3wordsimedMergedDF.node1_label, 'bert-base-nli-mean-tokens')))
temp3wordsimedMergedDF['node2_emb'] = pd.Series(list(getSentEmbeddings(temp3wordsimedMergedDF.node2_label, 'bert-base-nli-mean-tokens')))

4.745959043502808 s
0.3390045166015625 s

In [32]:
temp3wordsimedMergedDF['bert2SentSim'] = temp3wordsimedMergedDF.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

In [173]:
# build gpt model
gpt_model = GPT2LMHeadModel.from_pretrained('gpt2')
gpt_tokenizer = GPT2Tokenizer.from_pretrained('gpt2')

def gpt_score(sent1):
    # input sentence tensor
    # output score
    tokens_tensor = gpt_tokenizer.encode(sent1, add_special_tokens=False, return_tensors="pt")
    loss = gpt_model(tokens_tensor, labels=tokens_tensor)[0]
#     print(tokens_tensor.size(1))
    return np.exp(loss.cpu().detach().numpy() / tokens_tensor.size(1))

In [174]:
temp3wordsimedMergedDF['gpt2Ppl'] = temp3wordsimedMergedDF.sent.apply(gpt_score)

In [175]:
temp3wordsimedMergedDF['gpt2Ppl_normed'] = temp3wordsimedMergedDF['gpt2Ppl'].apply(lambda p: 1 / (1 + p))

In [176]:
temp3wordsimedMergedDF

,node1,node2,id,node1_label,label,node2_label,sent,Word 1,word1_kg_label,word1_kg_description,...,Human (Mean),complex,transe,text,class,node1_emb,node2_emb,bert2SentSim,gpt2Ppl,gpt2Ppl_normed
0,Q192935,Q2095,Q192935-P279-Q2095-c9aba5ef-0,seafood,P279,food,seafood is food,seafood,seafood,"food from the sea, e.g. fish, shrimp, crab, mu...",...,6.8750,0.531331,0.467495,0.664127,0.565204,"[0.23942716, -0.5923174, 1.1605071, 0.01221862...","[-0.143091, -0.18455797, 2.158043, 0.11467595,...",0.707566,3.312116,0.231905
1,Q61509,Q1914636,Q61509-P279-Q1914636-522de7b1-0,travel,P279,activity,travel is activity,travel,travel,movement of people between relatively distant ...,...,4.1875,0.400234,0.638347,0.682683,0.136251,"[-0.056974184, -0.43726933, 2.6971796, 0.40128...","[0.3885105, -1.4102317, 2.6005147, 0.70024395,...",0.743532,15.743042,0.059726
2,Q93352,Q468756,Q93352-P279-Q468756-18da9376-0,coast,P279,shore,coast is shore,coast,coast,area where land meets the sea or ocean,...,8.2755,0.604508,0.628945,0.859171,0.539750,"[0.18146253, -0.65918523, 2.4364007, -0.160515...","[-0.22691835, -1.0949634, 2.380236, 0.05142845...",0.860366,8.626138,0.103884
3,Q98069877,Q49848,Q98069877-P279-Q49848-07219034-0,video,P279,document,video is document,video,video,motion picture format,...,3.4375,0.530936,0.260283,0.679086,0.649235,"[0.6363447, -0.42124, 2.4174998, 0.5520306, 0....","[0.08141766, -0.42179188, 2.2739022, 0.4880786...",0.683161,22.084906,0.043318

In [177]:
stats.kendalltau(temp3wordsimedMergedDF['bert2SentSim'], temp3wordsimedMergedDF['Human (Mean)'])

KendalltauResult(correlation=0.6666666666666669, pvalue=0.3333333333333333)

In [178]:
stats.spearmanr(temp3wordsimedMergedDF['bert2SentSim'], temp3wordsimedMergedDF['Human (Mean)'])

SpearmanrResult(correlation=0.7999999999999999, pvalue=0.20000000000000007)

In [179]:
stats.kendalltau(temp3wordsimedMergedDF['gpt2Ppl_normed'], temp3wordsimedMergedDF['Human (Mean)'])

KendalltauResult(correlation=0.6666666666666669, pvalue=0.3333333333333333)

In [180]:
stats.spearmanr(temp3wordsimedMergedDF['gpt2Ppl_normed'], temp3wordsimedMergedDF['Human (Mean)'])

SpearmanrResult(correlation=0.7999999999999999, pvalue=0.20000000000000007)

## Extracting wordsim word pairs from wikidata P279 siblings dataset

### Generate new P279 siblings dataset from wordsim words subset

In [206]:
from pytorch_pretrained_bert import BertTokenizer,BertForMaskedLM
import torch
import pandas as pd
import math

In [207]:
bertMaskedLM = BertForMaskedLM.from_pretrained('bert-base-uncased')

In [208]:
berttokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [211]:
def bert_score(sentence):
    tokenize_input = berttokenizer.tokenize(sentence)
    tensor_input = torch.tensor([tokenizer.convert_tokens_to_ids(tokenize_input)])
    predictions=bertMaskedLM(tensor_input)
    loss_fct = torch.nn.CrossEntropyLoss()
    loss = loss_fct(predictions.squeeze(),tensor_input.squeeze()).data 
    return math.exp(loss / tensor_input.size(1))

In [181]:
P279wordsimed = temp3[temp3.node1.apply(lambda p: p in wordSimWordsSet)]

In [182]:
len(P279wordsimed)

690

In [183]:
newPairLeftDF = P279wordsimed.copy()
newPairRightDF = P279wordsimed.copy()

In [184]:
newPairsDF = newPairLeftDF.set_index('node2').join(newPairRightDF.set_index('node2'),rsuffix='_right').reset_index()

In [185]:
newPairsDF.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right
0,Q100171002,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment
1,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical
2,Q101998,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome
3,Q102165,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon
4,Q102205,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid

In [186]:
newPairsDF['set_nodes'] = newPairsDF.apply(lambda p: str(sorted([p.node1, p.node1_right]) + [p.node2]), axis=1)

In [187]:
newPairsDF1 = newPairsDF[~newPairsDF['set_nodes'].duplicated()]

In [188]:
print(f"{len(newPairsDF)} statements get reduced to {len(newPairsDF1)} statements after checking for duplicate pairs")

1340 statements get reduced to 1012 statements after checking for duplicate pairs

In [189]:
newPairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes
0,Q100171002,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment,"['Q1503443', 'Q1503443', 'Q100171002']"
1,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q49850', 'Q49850', 'Q1002697']"
2,Q101998,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome,"['Q4421', 'Q4421', 'Q101998']"
3,Q102165,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon,"['Q2294', 'Q2294', 'Q102165']"
4,Q102205,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid,"['Q11435', 'Q11435', 'Q102205']"

In [222]:
# newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)
# newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node2_label + ' is typically ' + p.node1_label + ' or ' + p.node1_label_right, axis=1)
newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node1_label + ' and ' + p.node1_label_right + ' are examples of ' + p.node2_label, axis=1)

<ipython-input-222-f2437d3c9095>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newPairsDF1['comb_sent'] = newPairsDF1.apply(lambda p: p.node1_label + ' and ' + p.node1_label_right + ' are examples of ' + p.node2_label, axis=1)

In [223]:
newPairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,sent,id_right,node1_right,node1_label_right,label_right,node2_label_right,sent_right,set_nodes,comb_sent
0,Q100171002,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,concealment,secrecy is concealment,"['Q1503443', 'Q1503443', 'Q100171002']",secrecy and secrecy are examples of concealment
1,Q1002697,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,periodical,journal is periodical,"['Q49850', 'Q49850', 'Q1002697']",journal and journal are examples of periodical
2,Q101998,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,biome,forest is biome,"['Q4421', 'Q4421', 'Q101998']",forest and forest are examples of biome
3,Q102165,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,nucleon,proton is nucleon,"['Q2294', 'Q2294', 'Q102165']",proton and proton are examples of nucleon
4,Q102205,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,fluid,liquid is fluid,"['Q11435', 'Q11435', 'Q102205']",liquid and liquid are examples of fluid

In [224]:
newPairsDF2 = newPairsDF1[['node1', 'node2', 'node1_right', 'node1_label', 'node2_label', 'node1_label_right', 'sent', 'sent_right', 'comb_sent']]

In [225]:
newPairsDF3 = newPairsDF2.rename(columns={'node1_right': 'node2', 'node2': 'parent', 'node1_label_right': 'node2_label', 'node2_label': 'par_label', 'sent': 'node1_sent', 'sent_right': 'node2_sent'})

In [226]:
newPairsDF3.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent
0,Q1503443,Q100171002,Q1503443,secrecy,concealment,secrecy,secrecy is concealment,secrecy is concealment,secrecy and secrecy are examples of concealment
1,Q49850,Q1002697,Q49850,journal,periodical,journal,journal is periodical,journal is periodical,journal and journal are examples of periodical
2,Q4421,Q101998,Q4421,forest,biome,forest,forest is biome,forest is biome,forest and forest are examples of biome
3,Q2294,Q102165,Q2294,proton,nucleon,proton,proton is nucleon,proton is nucleon,proton and proton are examples of nucleon
4,Q11435,Q102205,Q11435,liquid,fluid,liquid,liquid is fluid,liquid is fluid,liquid and liquid are examples of fluid

In [227]:
newPairsDF3wordsimed = newPairsDF3.set_index(['node1', 'node2']).join(wordSimDF.rename(columns={'word1_kg_id': 'node1', 'word2_kg_id': 'node2'}).set_index(['node1', 'node2']))

In [228]:
newPairsDF3wordsimed = newPairsDF3wordsimed.reset_index()

In [229]:
newPairsDF3wordsimed = newPairsDF3wordsimed[newPairsDF3wordsimed.apply(lambda p: (p.node1, p.node2) in wordSimWordPairsSet, axis=1)]

In [230]:
newPairsDF3wordsimed = newPairsDF3wordsimed[newPairsDF3wordsimed.apply(lambda p: p.node1 != p.node2, axis=1)]

In [231]:
newPairsDF3wordsimed = newPairsDF3wordsimed.reset_index()

In [232]:
len(newPairsDF3wordsimed)

9

In [233]:
newPairsDF3wordsimed['node1_emb'] = pd.Series(list(getSentEmbeddings(newPairsDF3wordsimed.node1_sent, 'bert-base-nli-mean-tokens')))
newPairsDF3wordsimed['node2_emb'] = pd.Series(list(getSentEmbeddings(newPairsDF3wordsimed.node2_sent, 'bert-base-nli-mean-tokens')))

0.11620402336120605 s
0.14222192764282227 s

In [234]:
newPairsDF3wordsimed.head()

,index,node1,node2,parent,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent,...,Word 2,word2_kg_label,word2_kg_description,Human (Mean),complex,transe,text,class,node1_emb,node2_emb
0,5,Q1074,Q7364,Q24060765,skin,animal organ,eye,skin is animal organ,eye is animal organ,skin and eye are examples of animal organ,...,eye,eye,organ that detects light and converts it into ...,2.7500,0.500769,0.485879,0.611496,0.541116,"[0.72735953, -0.5447348, 0.95869535, 0.6319232...","[0.755933, 0.04024082, 0.9340492, 0.41963616, ..."
1,12,Q1079023,Q500834,Q13406554,championship,sports competition,tournament,championship is sports competition,tournament is sports competition,championship and tournament are examples of sp...,...,tournament,tournament,competition involving a relatively large numbe...,7.5000,0.604882,0.628038,0.838909,0.899429,"[0.083933495, 0.082726024, 1.7943382, 0.518000...","[0.53537947, -0.30064347, 2.2253025, 0.4019227..."
2,47,Q11399,Q8341,Q373342,rock music,popular music,jazz,rock music is popular music,jazz is popular music,rock music and jazz are examples of popular music,...,jazz,jazz,"musical style, genre, and theory",5.5000,0.778366,0.424096,0.566754,0.935759,"[0.113906465, -0.3389766, 0.10356339, 0.254968...","[-0.10467594, -0.56408674, 0.6394385, -0.28194..."
3,127,Q12097,Q16511993,Q116,king,monarch,queen,king is monarch,queen is monarch,king and queen are examples of monarch,...,queen,queen,class of female monarch,5.6875,0.664346,0.699062,0.718037,0.894225,"[0.5253047, 0.57659674, 1.4201468, 0.8925513, ...","[0.26084498, 0.3714701, 1.3805685, 0.7634336, ..."
4,182,Q1308677,Q21171241,Q1190554,deployment,occurrence,departure,deployment is occurrence,departure is occurrence,deployment and departure are examples of occur...,...,departure,departure,act of departing or something that has departed,5.5000,0.299540,0.225839,0.496331,0.030801,"[0.26534072, -0.9580938, 2.5264893, 0.30084807...","[-0.32454324, -1.2765993, 2.5993214, 0.3582288..."

In [235]:
newPairsDF3wordsimed['bert2SentSim'] = newPairsDF3wordsimed.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

In [236]:
newPairsDF3wordsimed['gpt2Ppl'] = newPairsDF3wordsimed.comb_sent.apply(gpt_score)

In [237]:
newPairsDF3wordsimed['gpt2Ppl_normed'] = newPairsDF3wordsimed['gpt2Ppl'].apply(lambda p: 1 / (1 + p))

In [238]:
newPairsDF3wordsimed['bert_ppl'] = newPairsDF3wordsimed.comb_sent.apply(bert_score)
newPairsDF3wordsimed['bert_ppl_normed'] = newPairsDF3wordsimed['bert_ppl'].apply(lambda p: 1 / (1+p))

In [239]:
1 / (1 + bert_score('animal organ such as skin and continent'))

0.3924956554446995

In [240]:
newPairsDF3wordsimed

,index,node1,node2,parent,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent,...,transe,text,class,node1_emb,node2_emb,bert2SentSim,gpt2Ppl,gpt2Ppl_normed,bert_ppl,bert_ppl_normed
0,5,Q1074,Q7364,Q24060765,skin,animal organ,eye,skin is animal organ,eye is animal organ,skin and eye are examples of animal organ,...,0.485879,0.611496,0.541116,"[0.72735953, -0.5447348, 0.95869535, 0.6319232...","[0.755933, 0.04024082, 0.9340492, 0.41963616, ...",0.855939,2.035088,0.329480,2.064750,0.326291
1,12,Q1079023,Q500834,Q13406554,championship,sports competition,tournament,championship is sports competition,tournament is sports competition,championship and tournament are examples of sp...,...,0.628038,0.838909,0.899429,"[0.083933495, 0.082726024, 1.7943382, 0.518000...","[0.53537947, -0.30064347, 2.2253025, 0.4019227...",0.891540,1.745413,0.364244,1.406744,0.415499
2,47,Q11399,Q8341,Q373342,rock music,popular music,jazz,rock music is popular music,jazz is popular music,rock music and jazz are examples of popular music,...,0.424096,0.566754,0.935759,"[0.113906465, -0.3389766, 0.10356339, 0.254968...","[-0.10467594, -0.56408674, 0.6394385, -0.28194...",0.648035,1.696421,0.370862,1.465125,0.405659
3,127,Q12097,Q16511993,Q116,king,monarch,queen,king is monarch,queen is monarch,king and queen are examples of monarch,...,0.699062,0.718037,0.894225,"[0.5253047, 0.57659674, 1.4201468, 0.8925513, ...","[0.26084498, 0.3714701, 1.3805685, 0.7634336, ...",0.865548,2.309254,0.302183,1.412110,0.414575
4,182,Q1308677,Q21171241,Q1190554,deployment,occurrence,departure,deployment is occurrence,departure is occurrence,deployment and departure are examples of occur...,...,0.225839,0.496331,0.030801,"[0.26534072, -0.9580938, 2.5264893, 0.30084807...","[-0.32454324, -1.2765993, 2.5993214, 0.3582288...",0.750943,1.977621,0.335839,1.738580,0.365153
5,580,Q289,Q872,Q15078788,television,broadcasting,radio,television is broadcasting,radio is broadcasting,television and radio are examples of broadcasting,...,0.502157,0.758809,0.475667,"[1.1445429, -0.7258359, 1.4580723, 0.4434381, ...","[0.56205714, -0.253638, 1.5891607, 0.01657881,...",0.555305,1.880143,0.347205,2.104690,0.322093
6,666,Q374,Q959362,Q56139,vodka,liquor,gin,vodka is liquor,gin is liquor,vodka and gin are examples of liquor,...,0.714010,0.827655,0.915257,"[-0.06934731, 0.106110536, 0.46463186, 0.45913...","[-0.019106973, 0.14095607, 0.63778424, 0.74826...",0.898337,1.970335,0.336662,1.810370,0.355825
7,848,Q58893412,Q846570,Q215627,Japanese,person,Americans,Japanese is person,Americans is person,Japanese and Americans are examples of person,...,0.501314,0.589988,0.905763,"[-0.30371594, -0.29769143, -0.008753488, 0.090...","[-0.35450095, -0.107045874, 0.46675515, 0.1212...",0.664395,2.207857,0.311735,1.799410,0.357218
8,849,Q58893412,Q846570,Q2472587,Japanese,people,Americans,Japanese is people,Americans is people,Japanese and Americans are examples of people,...,0.501314,0.589988,0.905763,"[-0.050824374, -0.25418323, -0.12348578, -0.00...","[-0.05350799, -0.10230911, 0.53688955, -0.0150...",0.628451,1.883196,0.346837,1.828021,0.353604

In [241]:
stats.kendalltau(newPairsDF3wordsimed['bert2SentSim'], newPairsDF3wordsimed['Human (Mean)'])

KendalltauResult(correlation=0.45732956038002354, pvalue=0.09169028154942921)

In [242]:
stats.spearmanr(newPairsDF3wordsimed['bert2SentSim'], newPairsDF3wordsimed['Human (Mean)'])

SpearmanrResult(correlation=0.6218706970438532, pvalue=0.0737649506248493)

In [243]:
stats.kendalltau(newPairsDF3wordsimed['bert_ppl_normed'], newPairsDF3wordsimed['Human (Mean)'])

KendalltauResult(correlation=0.5716619504750294, pvalue=0.035014981019662494)

In [244]:
stats.spearmanr(newPairsDF3wordsimed['bert_ppl_normed'], newPairsDF3wordsimed['Human (Mean)'])

SpearmanrResult(correlation=0.6975036196572949, pvalue=0.036722324744514964)

In [245]:
stats.kendalltau(newPairsDF3wordsimed['gpt2Ppl_normed'], newPairsDF3wordsimed['Human (Mean)'])

KendalltauResult(correlation=0.22866478019001177, pvalue=0.3990751965482373)

In [246]:
stats.spearmanr(newPairsDF3wordsimed['gpt2Ppl_normed'], newPairsDF3wordsimed['Human (Mean)'])

SpearmanrResult(correlation=0.2773207162492859, pvalue=0.4700126440526218)

## Creating wordsim word pairs

In [ ]:
P279wordsimed.head()

In [ ]:
wordSimDF.head()

In [ ]:
sentMapper = {node: sent for (node, sent) in zip(P279wordsimed.node1.to_list(), P279wordsimed.sent.to_list())}

In [ ]:
wordSimDF['word1_sent'] = wordSimDF.word1_kg_id.apply(lambda p: sentMapper[p] if p in sentMapper else None)
wordSimDF['word2_sent'] = wordSimDF.word2_kg_id.apply(lambda p: sentMapper[p] if p in sentMapper else None)

In [ ]:
wordSimDF.word1_sent.isna().sum(), wordSimDF.word2_sent.isna().sum()

In [ ]:
wordSimDF1 = wordSimDF[~wordSimDF.word1_sent.isna() & ~wordSimDF.word2_sent.isna()].reset_index()

In [ ]:
wordSimDF1['word1_emb'] = pd.Series(list(getSentEmbeddings(wordSimDF1.word1_sent, 'bert-base-nli-mean-tokens')))
wordSimDF1['word2_emb'] = pd.Series(list(getSentEmbeddings(wordSimDF1.word2_sent, 'bert-base-nli-mean-tokens')))

In [ ]:
wordSimDF1['bertChildParSim'] = wordSimDF1.apply(lambda p: cosine_similarity(p.word1_emb.reshape(1,-1), p.word2_emb.reshape(1,-1))[0][0], axis=1)

In [ ]:
len(wordSimDF1)

# Wordsim words seed based extraction from Wordsim 353 - Amandeep's file

In [19]:
from sklearn.utils.random import sample_without_replacement

In [20]:
wordSimDF = pd.read_csv("../data/wordsim.csv")

In [21]:
wordSimDF.head()

,Word 1,word1_kg_id,word1_kg_label,word1_kg_description,Word 2,word2_kg_id,word2_kg_label,word2_kg_description,Human (Mean),complex,transe,text,class
0,admission,Q847337,confession,statement made by a person or a group of perso...,ticket,Q551800,ticket,paper or cardboard document showing payment fo...,5.5360,0.361115,0.446632,0.485653,NaN
1,alcohol,Q154,alcoholic beverage,"drink containing alcohols, typically ethanol",chemistry,Q2329,chemistry,branch of physical science concerned with the ...,4.1250,0.302163,0.274388,0.479313,0.005851
2,aluminum,Q663,aluminium,metallic chemical element of silvery appearanc...,metal,Q11426,metal,"element, compound or alloy that is a good cond...",6.6250,0.694462,0.429289,0.626784,0.393657
3,announcement,Q567303,announcement,"printed, spoken, or published statement or not...",effort,Q14536140,exertion,use of physical or perceived energy by a person,2.0625,0.324825,0.379077,0.618644,0.208812
4,announcement,Q567303,announcement,"printed, spoken, or published statement or not...",news,Q38926,news,communication of selected information on curre...,7.1875,0.361214,0.360383,0.863846,0.888621

In [22]:
len(wordSimDF)

349

In [23]:
wordSimWordPairsSet = set(wordSimDF.apply(lambda p: (p.word1_kg_id, p.word2_kg_id), axis=1).tolist())
wordSimWordsSet = set(wordSimDF.word1_kg_id.tolist() + wordSimDF.word2_kg_id.tolist())

In [24]:
len(wordSimWordsSet)

422

## P279 Dataset

In [25]:
temp3.head()

,id,node1,node1_label,label,node2,node2_label,sent
1,Q17372279-P279-Q100026-beba8cd1-0,Q17372279,YF-16,P279,Q100026,F-16 Fighting Falcon,YF-16 is F-16 Fighting Falcon
2,Q17372377-P279-Q100026-fd42bd71-0,Q17372377,F-16A/B Fighting Falcon,P279,Q100026,F-16 Fighting Falcon,F-16A/B Fighting Falcon is F-16 Fighting Falcon
3,Q17372444-P279-Q100026-ca0fc4bd-0,Q17372444,F-16C/D Fighting Falcon,P279,Q100026,F-16 Fighting Falcon,F-16C/D Fighting Falcon is F-16 Fighting Falcon
4,Q17372455-P279-Q100026-c2b1bf36-0,Q17372455,F-16E/F Desert Falcon,P279,Q100026,F-16 Fighting Falcon,F-16E/F Desert Falcon is F-16 Fighting Falcon
5,Q2029940-P279-Q100026-ceba4380-0,Q2029940,F-16 VISTA,P279,Q100026,F-16 Fighting Falcon,F-16 VISTA is F-16 Fighting Falcon

In [26]:
len(temp3)

620830

In [27]:
def filter1(row):
    return row.node1 in wordSimWordsSet or row.node2 in wordSimWordsSet

In [28]:
p279WordSimSeededDF = temp3[temp3.apply(filter1, axis=1)]
# p279WordSimSeededDF = temp3[temp3.apply(filter1, axis=1)]

In [29]:
print(f"Using our wordsim seed of size {len(wordSimWordsSet)}, we are using the dataset of {len(temp3)} having P279 relations and both nodes having a label. This dataset gets reduced to a size of {len(p279WordSimSeededDF)}")

Using our wordsim seed of size 422, we are using the dataset of 620830 having P279 relations and both nodes having a label. This dataset gets reduced to a size of 19454

In [50]:
p279WordSimSeededDF.head()

,index,id,node1,node1_label,label,node2,node2_label,sent,node1_emb,node2_emb,bert2SentSim,gpt2Ppl,gpt2Ppl_normed
0,160,Q1503443-P279-Q100171002-8282ae74-0,Q1503443,secrecy,P279,Q100171002,concealment,secrecy is concealment,"[0.48360047, 0.12595834, 1.8478414, 0.3248913,...","[0.36131904, 0.10339338, 1.5016634, 0.18898983...",0.901134,4.138501,0.194609
1,211,Q49850-P279-Q1002697-0c52cf68-0,Q49850,journal,P279,Q1002697,periodical,journal is periodical,"[-0.58701974, -0.376377, 2.2100382, 0.21803589...","[-0.22319661, -0.49772537, 2.202715, 0.3911113...",0.863449,4.490293,0.182140
2,3495,Q4421-P279-Q101998-d0983886-0,Q4421,forest,P279,Q101998,biome,forest is biome,"[-0.048074234, -0.4516174, 1.4889675, 0.544831...","[0.5096708, -0.44238043, 1.5324516, 0.18127434...",0.507148,16.660856,0.056622
3,3827,Q2294-P279-Q102165-0893a180-0,Q2294,proton,P279,Q102165,nucleon,proton is nucleon,"[-0.33914924, 0.20157512, 1.0860829, 0.0401020...","[-0.068796076, -0.16565986, 0.9537896, 0.27569...",0.798707,4.248274,0.190539
4,4267,Q11435-P279-Q102205-7b448d05-0,Q11435,liquid,P279,Q102205,fluid,liquid is fluid,"[-0.054042336, -1.0177528, 2.2105742, 0.985017...","[0.13003841, -0.85322684, 2.3782103, 1.2562174...",0.934246,11.030635,0.083121

In [31]:
p279WordSimSeededDF = p279WordSimSeededDF.reset_index()

In [32]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from time import time
import pandas as pd

In [35]:
def getSentEmbeddings(valSeries, modelName):
    model = SentenceTransformer(modelName)
    start = time()
    encodings = model.encode(valSeries.to_list())
    print(time()-start,'s')
    return encodings

In [37]:
# getSentEmbeddings('secrecy', 'bert-base-nli-mean-tokens')

In [38]:
p279WordSimSeededDF['node1_emb'] = pd.Series(list(getSentEmbeddings(p279WordSimSeededDF.node1_label, 'bert-base-nli-mean-tokens')))
p279WordSimSeededDF['node2_emb'] = pd.Series(list(getSentEmbeddings(p279WordSimSeededDF.node2_label, 'bert-base-nli-mean-tokens')))

10.087199926376343 s
7.055115222930908 s

In [39]:
p279WordSimSeededDF['bert2SentSim'] = p279WordSimSeededDF.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

In [41]:
from transformers import GPT2LMHeadModel, GPT2Tokenizer
# build gpt model
model = GPT2LMHeadModel.from_pretrained('gpt2')
tokenizer = GPT2Tokenizer.from_pretrained('gpt2')

def score(sent1):
    # input sentence tensor
    # output score
    tokens_tensor = tokenizer.encode(sent1, add_special_tokens=False, return_tensors="pt")
    loss = model(tokens_tensor, labels=tokens_tensor)[0]
#     print(tokens_tensor.size(1))
    return np.exp(loss.cpu().detach().numpy() / tokens_tensor.size(1))

In [42]:
p279WordSimSeededDF['gpt2Ppl'] = p279WordSimSeededDF.sent.apply(gpt_score)

In [43]:
p279WordSimSeededDF['gpt2Ppl_normed'] = p279WordSimSeededDF['gpt2Ppl'].apply(lambda p: 1/(1+p))

In [44]:
len(p279WordSimSeededDF)

19454

In [181]:
# p279WordSimSeededDF.iloc[sample_without_replacement(len(p279WordSimSeededDF), 50, random_state=13)][['node1', 'node1_label', 'node2', 'node2_label']].to_csv('../data/output/P279Sim_Dataset.csv')

## P279 Siblings Dataset

In [48]:
p279WordSimSeededDF_Siblings_left = p279WordSimSeededDF.copy()
p279WordSimSeededDF_Siblings_right = p279WordSimSeededDF.copy()

In [49]:
p279Seeded_SiblingsDF = p279WordSimSeededDF_Siblings_left.set_index('node2').join(p279WordSimSeededDF_Siblings_right.set_index('node2'),rsuffix='_right').reset_index()
p279Seeded_SiblingsDF['set_nodes'] = p279Seeded_SiblingsDF.apply(lambda p: str(sorted([p.node1, p.node1_right]) + [p.node2]), axis=1)
p279Seeded_SiblingsDF = p279Seeded_SiblingsDF[~p279Seeded_SiblingsDF['set_nodes'].duplicated()]
p279Seeded_SiblingsDF['comb_sent'] = p279Seeded_SiblingsDF.apply(lambda p: p.node2_label + ' such as ' + p.node1_label + ' and ' + p.node1_label_right, axis=1)
p279Seeded_SiblingsDF1 = p279Seeded_SiblingsDF[['node1', 'node2', 'node1_right', 'node1_label', 'node2_label', 'node1_label_right', 'sent', 'sent_right', 'comb_sent']]
p279Seeded_SiblingsDF2 = p279Seeded_SiblingsDF1.rename(columns={'node1_right': 'node2', 'node2': 'parent', 'node1_label_right': 'node2_label', 'node2_label': 'par_label', 'sent': 'node1_sent', 'sent_right': 'node2_sent'})

In [50]:
p279Seeded_SiblingsDF2.head()

,node1,parent,node2,node1_label,par_label,node2_label,node1_sent,node2_sent,comb_sent
0,Q1503443,Q100171002,Q1503443,secrecy,concealment,secrecy,secrecy is concealment,secrecy is concealment,concealment such as secrecy and secrecy
1,Q49850,Q1002697,Q49850,journal,periodical,journal,journal is periodical,journal is periodical,periodical such as journal and journal
2,Q4421,Q101998,Q4421,forest,biome,forest,forest is biome,forest is biome,biome such as forest and forest
3,Q2294,Q102165,Q2294,proton,nucleon,proton,proton is nucleon,proton is nucleon,nucleon such as proton and proton
4,Q11435,Q102205,Q11435,liquid,fluid,liquid,liquid is fluid,liquid is fluid,fluid such as liquid and liquid

In [54]:
p279Seeded_SiblingsDF2 = p279Seeded_SiblingsDF2[p279Seeded_SiblingsDF2.node1 != p279Seeded_SiblingsDF2.node2]

In [55]:
len(p279Seeded_SiblingsDF2)

323

In [56]:
p279Seeded_SiblingsDF2.iloc[sample_without_replacement(len(p279Seeded_SiblingsDF2), 250, random_state=13)][['node1', 'node1_label', 'node2', 'node2_label']].to_csv('../data/output/P279SiblingsSim_Dataset.csv')

In [160]:
def validateSeeders(row):
    return not(row.node1 in wordSimWordsSet or row.node2 in wordSimWordsSet or row.parent in wordSimWordsSet)
p279Seeded_SiblingsDF2.apply(validateSeeders, axis=1).sum()

0

In [161]:
p279Seeded_SiblingsDF2['node1_emb'] = pd.Series(list(getSentEmbeddings(p279Seeded_SiblingsDF2.node1_sent, 'bert-base-nli-mean-tokens')))
p279Seeded_SiblingsDF2['node2_emb'] = pd.Series(list(getSentEmbeddings(p279Seeded_SiblingsDF2.node2_sent, 'bert-base-nli-mean-tokens')))

0.13658452033996582 s
0.08186864852905273 s

In [162]:
p279Seeded_SiblingsDF2['bert2SentSim'] = p279Seeded_SiblingsDF2.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)

AttributeError: 'float' object has no attribute 'reshape'

In [ ]:
p279Seeded_SiblingsDF2['gpt2Ppl'] = p279Seeded_SiblingsDF2.comb_sent.apply(gpt_score)

# Annotated P279s datasets

In [46]:
import pandas as pd
p279_ann_DF = pd.read_csv("../data/P279_dataset/P279Sim_annotated.csv")
p279Sib_ann_DF = pd.read_csv("../data/P279_dataset/P279SiblingSim_annotated.csv")

In [47]:
p279_ann_DF.head()

,node1,node1_label,node2,node2_label,Sim,Dim
0,Q48842375,Asian Women\'s Softball Championship,Q1079023,championship,2.0,I
1,Q8001434,Wildlife of South Africa,Q104021,fauna,2.0,I
2,Q40189366,interstellar radiation field,Q11379,energy,2.0,I
3,Q2162453,traditional political party,Q7278,political party,1.0,I
4,Q6786579,materials physics,Q413,physics,2.0,I

In [48]:
p279Sib_ann_DF.head()

      node1 node1_label     node2    node2_label  Sim  Dim
0  Q4165229        gain   Q570938     net income    2    S
1    Q30461   president    Q48352  head of state    1    S
2   Q381072      crisis  Q3839081       disaster    1  NaN
3    Q39546        tool     Q7397       software    2    H
4  Q1400881    property  Q2574811          cause    4  NaN

## P279 dataset

In [90]:
p279_ann_DF1 = p279_ann_DF.set_index(['node1', 'node2']).join(p279WordSimSeededDF.set_index(['node1', 'node2']), rsuffix='_og').reset_index().drop(columns=['node2_label_og', 'node1_label_og', 'label'])

In [91]:
p279_ann_DF1 = p279_ann_DF1[~p279_ann_DF1.Sim.isna()]

In [78]:
from pytorch_pretrained_bert import BertTokenizer,BertForMaskedLM
import torch
import pandas as pd
import math

In [79]:
bertMaskedLM = BertForMaskedLM.from_pretrained('bert-base-uncased')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 407873900/407873900 [00:37<00:00, 11005250.37B/s]

In [80]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 231508/231508 [00:00<00:00, 902966.47B/s]

In [85]:
def bert_score(sentence):
    tokenize_input = tokenizer.tokenize(sentence)
    tensor_input = torch.tensor([tokenizer.convert_tokens_to_ids(tokenize_input)])
    predictions=bertMaskedLM(tensor_input)
    loss_fct = torch.nn.CrossEntropyLoss()
    loss = loss_fct(predictions.squeeze(),tensor_input.squeeze()).data 
    return math.exp(loss / tensor_input.size(1))

In [92]:
p279_ann_DF1['bert_ppl'] = p279_ann_DF1.sent.apply(get_gpt_score)
p279_ann_DF1['bert_ppl_normed'] = p279_ann_DF1['bert_ppl'].apply(lambda p: 4 - 3 / (1+p))

In [93]:
p279_ann_DF1['bert2SentSim'] = p279_ann_DF1['bert2SentSim'].apply(lambda p: 4 - p*3)
p279_ann_DF1['gpt2Ppl_normed'] = p279_ann_DF1['gpt2Ppl_normed'].apply(lambda p: 4 - p*3)

In [94]:
p279_ann_DF1.head()

,node1,node2,node1_label,node2_label,Sim,Dim,index,id,sent,node1_emb,node2_emb,bert2SentSim,gpt2Ppl,gpt2Ppl_normed,bert_ppl,bert_ppl_normed
0,Q1125755,Q11410,Linux gaming,game,2.0,I,29906.0,Q1125755-P279-Q11410-c6c8e293-0,Linux gaming is game,"[-0.38090447, -0.072453715, 1.0361495, -0.0768...","[0.049388338, -0.96375394, 2.6406975, 0.740393...",2.802844,5.629106,3.547450,4.126195,1.393231
1,Q12097,Q8441,king,man,4.0,I,689705.0,Q12097-P279-Q8441-5aee777a-0,king is man,"[0.39023998, 0.35056773, 1.8369316, 0.78192997...","[0.30512533, -0.11468178, 2.2824647, 0.7221913...",1.907925,9.925628,3.725416,3.514388,1.251559
2,Q1262537,Q17517,dual SIM,mobile phone,3.0,H,189153.0,Q1262537-P279-Q17517-5c20a786-0,dual SIM is mobile phone,"[-0.2609788, -0.645304, 0.78149086, 0.5846581,...","[0.18702456, 0.18690406, 1.2201738, -0.1322266...",2.485325,3.024970,3.254653,3.949115,1.597018
3,Q1362373,Q16334298,Cultigen,group of living things,3.0,I,172384.0,Q1362373-P279-Q16334298-91d03ec5-0,Cultigen is group of living things,"[-0.2755343, -0.1904294, 1.8262575, 0.18963182...","[1.1029037, 0.13540803, 1.1756531, 0.5193954, ...",2.291170,2.411533,3.120630,1.749629,1.680036
4,Q14328596,Q11004,cabbage,vegetable,2.0,I,20311.0,Q14328596-P279-Q11004-4dce84cb-0,cabbage is vegetable,"[-0.2028479, 0.33753565, 0.864861, -0.3964703,...","[-0.24074318, -0.59905654, 1.2529583, 0.276870...",1.605159,8.393172,3.680619,16.203755,1.288651

In [75]:
import scipy.stats as stats

In [95]:
stats.spearmanr(p279_ann_DF1.Sim, p279_ann_DF1.bert_ppl_normed)

SpearmanrResult(correlation=-0.34042801211515844, pvalue=0.09588091799975365)

In [96]:
stats.spearmanr(p279_ann_DF1.Sim, p279_ann_DF1.bert2SentSim)

SpearmanrResult(correlation=0.04421700535669775, pvalue=0.8337702651869092)

In [97]:
stats.spearmanr(p279_ann_DF1.Sim, p279_ann_DF1.gpt2Ppl_normed)

SpearmanrResult(correlation=0.34042801211515844, pvalue=0.09588091799975365)