In [1]:
import pandas as pd

In [2]:
p279DF = pd.read_csv('../data/P279_dataset/P279_Sim_Dataset_all_annotated.csv')

In [3]:
p279DF['node1_label'] = p279DF.node1_label.apply(lambda p: p.replace('\\',''))
p279DF['node2_label'] = p279DF.node2_label.apply(lambda p: p.replace('\\',''))

In [4]:
p279DF.head()

,ID,node1,node1_label,node2,node2_label,relation_type,P_Sim,P_Dim,H_Sim,H_Dim,...,S_Sim,S_Dim,N_Sim,N_Dim,F_Sim,F_Dim,J_Sim,J_Dim,Average,StdDev
0,1,Q48842375,Asian Women's Softball Championship,Q1079023,championship,parent/child,2,i,2,I,...,2,i,2,I,2,I,3,I,2.142857,0.377964
1,2,Q8001434,Wildlife of South Africa,Q104021,fauna,parent/child,2,i,2,I,...,2,i,3,H,2,I,3,I,2.285714,0.487950
2,3,Q40189366,interstellar radiation field,Q11379,energy,parent/child,3,i,3,I,...,2,i,3,H,3,D,3,I,2.714286,0.487950
3,4,Q2162453,traditional political party,Q7278,political party,parent/child,1,NaN,2,I,...,2,i,2,I,2,I,2,I,1.714286,0.487950
4,5,Q6786579,materials physics,Q413,physics,parent/child,2,i,2,I,...,2,i,3,H,2,I,2,H,2.142857,0.377964

# Split to ChildPar, Siblings Datasets

In [5]:
p279_ChildParDF = p279DF[p279DF.relation_type == 'parent/child']
p279_SiblingsDF = p279DF[p279DF.relation_type == 'sibling']

In [6]:
p279_SiblingsDF.head()

,ID,node1,node1_label,node2,node2_label,relation_type,P_Sim,P_Dim,H_Sim,H_Dim,...,S_Sim,S_Dim,N_Sim,N_Dim,F_Sim,F_Dim,J_Sim,J_Dim,Average,StdDev
25,26,Q4165229,gain,Q570938,net income,sibling,2,i,2,I,...,2,i,3,D,2,S,2,I,2.142857,0.377964
26,27,Q30461,president,Q48352,head of state,sibling,1,NaN,2,I,...,2,i,2,I,1,NaN,2,I,1.571429,0.534522
27,28,Q381072,crisis,Q3839081,disaster,sibling,2,i,2,I,...,2,i,1,NaN,1,NaN,2,I,1.571429,0.534522
28,29,Q39546,tool,Q7397,software,sibling,3,i,2,I,...,2,i,3,I,2,I,4,NaN,2.571429,0.786796
29,30,Q1400881,property,Q2574811,cause,sibling,4,NaN,4,NaN,...,4,NaN,4,NaN,2,S,4,NaN,3.714286,0.755929

# Fetch parents for siblings dataset and create triplets for sentence construction

In [44]:
p279SibWordSet = set(p279_SiblingsDF.node1.to_list() + p279_SiblingsDF.node2.to_list())
p279SibWordPairSet = list(zip(p279_SiblingsDF.node1.to_list(),p279_SiblingsDF.node2.to_list()))

In [8]:
p279_Parents_DF = pd.read_csv('../data/P279_dataset/wikidata-P279.tsv',sep='\t')

In [9]:
p279_Parents_DF.head()

,id,node1,label,node2,rank,node2;wikidatatype
0,Q100000030-P279-Q14748-30394205-0,Q100000030,P279,Q14748,normal,wikibase-item
1,Q100000058-P279-Q1622444-bd182663-0,Q100000058,P279,Q1622444,normal,wikibase-item
2,Q1000032-P279-Q1813494-0aa0f1dc-0,Q1000032,P279,Q1813494,normal,wikibase-item
3,Q1000032-P279-Q83602-482a1943-0,Q1000032,P279,Q83602,normal,wikibase-item
4,Q1000039-P279-Q11555767-2dddfd86-0,Q1000039,P279,Q11555767,normal,wikibase-item

In [10]:
p279_Parents_DF1 = p279_Parents_DF[p279_Parents_DF.apply(lambda p: p.node1 in p279SibWordSet, axis=1)]

In [11]:
labelsDF = pd.read_csv('../data/labels.en.tsv', sep='\t')

In [12]:
temp1 = p279_Parents_DF1.set_index('node1').join(labelsDF.set_index('node1'), rsuffix='_label')

In [13]:
temp1 = temp1[['id','label','node2','node2_label']]

In [14]:
temp2 = temp1.reset_index().set_index('node2').join(labelsDF.set_index('node1'), rsuffix='_label2')

In [15]:
temp3 = temp2[['id','node1','label','node2', 'node2_label']].rename(columns={'node2_label': 'node1_label', 'node2':'node2_label'}).reset_index().rename(columns={'index':'node2'})

In [16]:
temp3 = temp3[['id','node1','node1_label','label','node2','node2_label']]

In [17]:
temp3 = temp3[~temp3['node1_label'].isna()]
temp3 = temp3[~temp3['node2_label'].isna()]

In [18]:
temp3['node2_label'].isna().sum()

0

In [19]:
temp3['node1_label'] = temp3['node1_label'].apply(lambda p: p[1:-4])

In [20]:
temp3['node2_label'] = temp3['node2_label'].apply(lambda p: p[1:-4])

In [21]:
temp3

,id,node1,node1_label,label,node2,node2_label
0,Q523-P279-Q1027098-3ce5cd2f-0,Q523,star,P279,Q1027098,fusor
1,Q381072-P279-Q104493-9eab93d0-0,Q381072,crisis,P279,Q104493,risk
2,Q176763-P279-Q11028-28192af9-0,Q176763,evidence,P279,Q11028,information
3,Q3695082-P279-Q11028-fb23389c-0,Q3695082,sign,P279,Q11028,information
4,Q551800-P279-Q11105360-c1431a2e-0,Q551800,ticket,P279,Q11105360,medium of exchange
...,...,...,...,...,...,...
96,Q951964-P279-Q8195619-98e34f68-0,Q951964,food product,P279,Q8195619,human food
97,Q30461-P279-Q82955-2d27e026-0,Q30461,president,P279,Q82955,politician
98,Q951964-P279-Q868404-10500678-0,Q951964,food product,P279,Q868404,final good
99,Q2006324-P279-Q930933-06286d46-0,Q2006324,agreement,P279,Q930933,relation
100,Q551800-P279-Q986008-b5d5fa1c-0,Q551800,ticket,P279,Q986008,payment system

In [22]:
pairLeftDF = temp3.copy()
pairRightDF = temp3.copy()

In [23]:
pairsDF = pairLeftDF.set_index('node2').join(pairRightDF.set_index('node2'),rsuffix='_right').reset_index()

In [61]:
pairsDF['set_nodes'] = pairsDF.apply(lambda p: str(sorted([p.node1, p.node1_right])), axis=1)

In [62]:
pairsDF1 = pairsDF[~pairsDF['set_nodes'].duplicated()]

In [63]:
print(f"{len(pairsDF)} statements get reduced to {len(pairsDF1)} statements after checking for duplicate pairs")

196 statements get reduced to 84 statements after checking for duplicate pairs

In [64]:
pairsDF1.head()

,node2,id,node1,node1_label,label,node2_label,id_right,node1_right,node1_label_right,label_right,node2_label_right,set_nodes
0,Q1027098,Q523-P279-Q1027098-3ce5cd2f-0,Q523,star,P279,fusor,Q523-P279-Q1027098-3ce5cd2f-0,Q523,star,P279,fusor,"['Q523', 'Q523']"
1,Q104493,Q381072-P279-Q104493-9eab93d0-0,Q381072,crisis,P279,risk,Q381072-P279-Q104493-9eab93d0-0,Q381072,crisis,P279,risk,"['Q381072', 'Q381072']"
2,Q11028,Q176763-P279-Q11028-28192af9-0,Q176763,evidence,P279,information,Q176763-P279-Q11028-28192af9-0,Q176763,evidence,P279,information,"['Q176763', 'Q176763']"
3,Q11028,Q176763-P279-Q11028-28192af9-0,Q176763,evidence,P279,information,Q3695082-P279-Q11028-fb23389c-0,Q3695082,sign,P279,information,"['Q176763', 'Q3695082']"
5,Q11028,Q3695082-P279-Q11028-fb23389c-0,Q3695082,sign,P279,information,Q3695082-P279-Q11028-fb23389c-0,Q3695082,sign,P279,information,"['Q3695082', 'Q3695082']"

In [65]:
pairsDF2 = pairsDF1[['node1', 'node2', 'node1_right', 'node1_label', 'node2_label', 'node1_label_right']]

In [66]:
pairsDF3 = pairsDF2.rename(columns={'node1_right': 'node2', 'node2': 'parent', 'node1_label_right': 'node2_label', 'node2_label': 'par_label'})

In [67]:
pairsDF3.head()

      node1    parent     node2 node1_label    par_label node2_label
0      Q523  Q1027098      Q523        star        fusor        star
1   Q381072   Q104493   Q381072      crisis         risk      crisis
2   Q176763    Q11028   Q176763    evidence  information    evidence
3   Q176763    Q11028  Q3695082    evidence  information        sign
5  Q3695082    Q11028  Q3695082        sign  information        sign

In [68]:
pairsDF3

,node1,parent,node2,node1_label,par_label,node2_label
0,Q523,Q1027098,Q523,star,fusor,star
1,Q381072,Q104493,Q381072,crisis,risk,crisis
2,Q176763,Q11028,Q176763,evidence,information,evidence
3,Q176763,Q11028,Q3695082,evidence,information,sign
5,Q3695082,Q11028,Q3695082,sign,information,sign
...,...,...,...,...,...,...
176,Q8928,Q6999,Q8928,constellation,astronomical object,constellation
177,Q11028,Q7184903,Q11028,information,abstract object,information
178,Q11028,Q7184903,Q3695082,information,abstract object,sign
179,Q11028,Q7184903,Q450,information,abstract object,mind
182,Q3695082,Q7184903,Q450,sign,abstract object,mind

In [69]:
pairsDF4 = pairsDF3[pairsDF3.apply(lambda p: (p.node1, p.node2) in p279SibWordPairSet, axis=1)]

In [70]:
len(pairsDF4)

25

In [71]:
pairsDF4

,node1,parent,node2,node1_label,par_label,node2_label
3,Q176763,Q11028,Q3695082,evidence,information,sign
12,Q1308677,Q1190554,Q21171241,deployment,occurrence,departure
14,Q1308677,Q1190554,Q3839081,deployment,occurrence,disaster
20,Q198,Q1190554,Q3839081,war,occurrence,disaster
38,Q381072,Q1190554,Q3839081,crisis,occurrence,disaster
46,Q186360,Q11974939,Q39631,nurse,health professional,physician
52,Q4165229,Q1527264,Q570938,gain,income,net income
71,Q192935,Q2095,Q3314483,seafood,food,fruit
75,Q3314483,Q2095,Q951964,fruit,food,food product
85,Q191067,Q234460,Q49848,article,text,document
88,Q42470,Q234460,Q49848,motto,text,document
93,Q7364,Q24060765,Q9635,eye,animal organ,mouth
97,Q39546,Q2424752,Q7397,tool,product,software
98,Q39546,Q2424752,Q951964,tool,product,food product
101,Q7397,Q2424752,Q951964,software,product,food product
114,Q30461,Q294414,Q48352,president,public office,head of state
118,Q11499267,Q2995644,Q50000,defeat,result,victory
129,Q1400881,Q35120,Q2574811,property,entity,cause
139,Q154,Q40050,Q8486,alcoholic beverage,drink,coffee
143,Q16917,Q4260475,Q1774898,hospital,medical facility,clinic
158,Q2006324,Q49848,Q551800,agreement,document,ticket
159,Q2006324,Q49848,Q98069877,agreement,document,video
168,Q15921555,Q61509,Q17990955,flight,travel,sea voyage
174,Q523,Q6999,Q8928,star,astronomical object,constellation
179,Q11028,Q7184903,Q450,information,abstract object,mind

In [73]:
pairsDF4['comb_sent'] = pairsDF4.apply(lambda p: p.par_label + ' such as ' + p.node1_label + ' and ' + p.node2_label, axis=1)
# pairsDF4['comb_sent'] = pairsDF4.apply(lambda p: p.par_label + ' is typically ' + p.node1_label + ' or ' + p.node2_label, axis=1)
# pairsDF4['comb_sent'] = pairsDF4.apply(lambda p: p.node1_label + ' and ' + p.node2_label + ' are examples of ' + p.par_label, axis=1)

<ipython-input-73-6a1335c5de17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pairsDF4['comb_sent'] = pairsDF4.apply(lambda p: p.par_label + ' such as ' + p.node1_label + ' and ' + p.node2_label, axis=1)

In [102]:
p279_SiblingsDF1 = p279_SiblingsDF.set_index(['node1', 'node2']).join(pairsDF4.set_index(['node1', 'node2'])[['parent', 'par_label']]).reset_index()

# Language Models Utility Functions

In [75]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from time import time
import pandas as pd

def getBERTSentEmbeddings(valSeries, modelName):
    model = SentenceTransformer(modelName)
    start = time()
    encodings = model.encode(valSeries.to_list())
    print(time()-start,'s')
    return encodings

In [78]:
from transformers import GPT2LMHeadModel, GPT2Tokenizer
model = GPT2LMHeadModel.from_pretrained('gpt2')
tokenizer = GPT2Tokenizer.from_pretrained('gpt2')

def getGPT2Score(sent1):
    # input sentence tensor
    # output score
    tokens_tensor = tokenizer.encode(sent1, add_special_tokens=False, return_tensors="pt")
    loss = model(tokens_tensor, labels=tokens_tensor)[0]
#     print(tokens_tensor.size(1))
    return np.exp(loss.cpu().detach().numpy() / tokens_tensor.size(1))

In [83]:
from pytorch_pretrained_bert import BertTokenizer,BertForMaskedLM
import torch
import pandas as pd
import math

bertMaskedLM = BertForMaskedLM.from_pretrained('bert-base-uncased')
berttokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

def getBERTScore(sentence):
    tokenize_input = berttokenizer.tokenize(sentence)
    tensor_input = torch.tensor([berttokenizer.convert_tokens_to_ids(tokenize_input)])
    predictions=bertMaskedLM(tensor_input)
    loss_fct = torch.nn.CrossEntropyLoss()
    loss = loss_fct(predictions.squeeze(),tensor_input.squeeze()).data 
    return math.exp(loss / tensor_input.size(1))

# Analysis

## ChildPar

In [74]:
p279_ChildParDF.head()

,ID,node1,node1_label,node2,node2_label,relation_type,P_Sim,P_Dim,H_Sim,H_Dim,...,S_Sim,S_Dim,N_Sim,N_Dim,F_Sim,F_Dim,J_Sim,J_Dim,Average,StdDev
0,1,Q48842375,Asian Women's Softball Championship,Q1079023,championship,parent/child,2,i,2,I,...,2,i,2,I,2,I,3,I,2.142857,0.377964
1,2,Q8001434,Wildlife of South Africa,Q104021,fauna,parent/child,2,i,2,I,...,2,i,3,H,2,I,3,I,2.285714,0.487950
2,3,Q40189366,interstellar radiation field,Q11379,energy,parent/child,3,i,3,I,...,2,i,3,H,3,D,3,I,2.714286,0.487950
3,4,Q2162453,traditional political party,Q7278,political party,parent/child,1,NaN,2,I,...,2,i,2,I,2,I,2,I,1.714286,0.487950
4,5,Q6786579,materials physics,Q413,physics,parent/child,2,i,2,I,...,2,i,3,H,2,I,2,H,2.142857,0.377964

In [80]:
p279_ChildParDF['sent'] = p279_ChildParDF.apply(lambda p: p['node1_label'] + ' is ' + p['node2_label'], axis=1)

<ipython-input-80-40cb45bbcd3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['sent'] = p279_ChildParDF.apply(lambda p: p['node1_label'] + ' is ' + p['node2_label'], axis=1)

In [88]:
p279_ChildParDF['node1_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node1_label, 'bert-base-nli-mean-tokens')))
p279_ChildParDF['node2_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node2_label, 'bert-base-nli-mean-tokens')))
p279_ChildParDF['bert2SentSim'] = p279_ChildParDF.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)
p279_ChildParDF['bert2SentSim_normed'] = p279_ChildParDF['bert2SentSim'].apply(lambda p: 4 - 3 * p)

0.13974285125732422 s

<ipython-input-88-e0247d33ebc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['node1_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node1_label, 'bert-base-nli-mean-tokens')))

0.12454414367675781 s

<ipython-input-88-e0247d33ebc1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['node2_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node2_label, 'bert-base-nli-mean-tokens')))
<ipython-input-88-e0247d33ebc1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert2SentSim'] = p279_ChildParDF.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)
<ipython-input-88-e0247d33ebc1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert2SentSim_normed'] = p279_ChildParDF['bert2SentSim'].apply(lambda p: 4 - 3 * p)

In [85]:
p279_ChildParDF['gpt2Ppl'] = p279_ChildParDF.sent.apply(getGPT2Score)
p279_ChildParDF['gpt2Ppl_normed'] = p279_ChildParDF['gpt2Ppl'].apply(lambda p: 4 - 3/(1+p))

<ipython-input-85-83ad8e410c3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['gpt2Ppl'] = p279_ChildParDF.sent.apply(getGPT2Score)
<ipython-input-85-83ad8e410c3b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['gpt2Ppl_normed'] = p279_ChildParDF['gpt2Ppl'].apply(lambda p: 4 - 3/(1+p))

In [86]:
p279_ChildParDF['bert_ppl'] = p279_ChildParDF.sent.apply(getBERTScore)
p279_ChildParDF['bert_ppl_normed'] = p279_ChildParDF['bert_ppl'].apply(lambda p: 4 - 3 / (1+p))

<ipython-input-86-ee8882497c76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert_ppl'] = p279_ChildParDF.sent.apply(getBERTScore)
<ipython-input-86-ee8882497c76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert_ppl_normed'] = p279_ChildParDF['bert_ppl'].apply(lambda p: 4 - 3 / (1+p))

In [89]:
p279_ChildParDF.describe()

,ID,P_Sim,H_Sim,G_Sim,S_Sim,N_Sim,F_Sim,J_Sim,Average,StdDev,bert2SentSim,gpt2Ppl,gpt2Ppl_normed,bert_ppl,bert_ppl_normed,bert2SentSim_normed
count,25.000000,25.000000,25.00000,25.000000,25.0,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,13.000000,2.320000,2.24000,2.360000,2.0,2.640000,2.200000,2.560000,2.331429,0.453733,0.618659,3.957845,3.299563,4.458129,3.267520,2.144024
std,7.359801,0.556776,0.43589,0.757188,0.0,0.568624,0.408248,0.506623,0.290788,0.198787,0.139203,2.226331,0.237021,3.467866,0.347431,0.417609
min,1.000000,1.000000,2.00000,1.000000,2.0,2.000000,2.000000,2.000000,1.714286,0.000000,0.253893,1.730686,2.901375,1.336585,2.716075,1.356893
25%,7.000000,2.000000,2.00000,2.000000,2.0,2.000000,2.000000,2.000000,2.142857,0.377964,0.532726,2.411533,3.120630,2.238171,3.073551,1.853700
50%,13.000000,2.000000,2.00000,2.000000,2.0,3.000000,2.000000,3.000000,2.285714,0.487950,0.602635,3.229335,3.290669,3.178908,3.282109,2.192096
75%,19.000000,3.000000,2.00000,3.000000,2.0,3.000000,2.000000,3.000000,2.571429,0.534522,0.715433,4.949554,3.495761,5.026380,3.502189,2.401822
max,25.000000,3.000000,3.00000,4.000000,2.0,4.000000,3.000000,3.000000,2.857143,0.786796,0.881036,9.925628,3.725416,12.916186,3.784424,3.238321

### Correlation Coefficients

In [90]:
import scipy.stats as stats

In [91]:
col1 = 'bert2SentSim_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.2084662497345841, pvalue=0.1621791786562139)

In [94]:
col1 = 'bert2SentSim_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.29501981151634904, pvalue=0.1522370779127172)

In [92]:
col1 = 'bert_ppl_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.003533326266687866, pvalue=0.9810989378845247)

In [95]:
col1 = 'bert_ppl_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.009730204865314942, pvalue=0.9631817655673444)

In [93]:
col1 = 'gpt2Ppl_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.017666631333439334, pvalue=0.905706418385764)

In [96]:
col1 = 'gpt2Ppl_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.05526756363498887, pvalue=0.7930202504178021)

## Siblings

In [103]:
p279_SiblingsDF1.head()

,node1,node2,ID,node1_label,node2_label,relation_type,P_Sim,P_Dim,H_Sim,H_Dim,...,N_Sim,N_Dim,F_Sim,F_Dim,J_Sim,J_Dim,Average,StdDev,parent,par_label
0,Q4165229,Q570938,26,gain,net income,sibling,2,i,2,I,...,3,D,2,S,2,I,2.142857,0.377964,Q1527264,income
1,Q30461,Q48352,27,president,head of state,sibling,1,NaN,2,I,...,2,I,1,NaN,2,I,1.571429,0.534522,Q294414,public office
2,Q381072,Q3839081,28,crisis,disaster,sibling,2,i,2,I,...,1,NaN,1,NaN,2,I,1.571429,0.534522,Q1190554,occurrence
3,Q39546,Q7397,29,tool,software,sibling,3,i,2,I,...,3,I,2,I,4,NaN,2.571429,0.786796,Q2424752,product
4,Q1400881,Q2574811,30,property,cause,sibling,4,NaN,4,NaN,...,4,NaN,2,S,4,NaN,3.714286,0.755929,Q35120,entity

In [104]:
# p279_SiblingsDF1['comb_sent'] = p279_SiblingsDF1.apply(lambda p: p.par_label + ' such as ' + p.node1_label + ' and ' + p.node2_label, axis=1)
p279_SiblingsDF1['comb_sent'] = p279_SiblingsDF1.apply(lambda p: p.par_label + ' is typically ' + p.node1_label + ' or ' + p.node2_label, axis=1)
# p279_SiblingsDF1['comb_sent'] = p279_SiblingsDF1.apply(lambda p: p.node1_label + ' and ' + p.node2_label + ' are examples of ' + p.par_label, axis=1)

In [88]:
p279_SiblingsDF1['node1_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_SiblingsDF1.node1_label, 'bert-base-nli-mean-tokens')))
p279_SiblingsDF1['node2_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_SiblingsDF1.node2_label, 'bert-base-nli-mean-tokens')))
p279_SiblingsDF1['bert2SentSim'] = p279_SiblingsDF1.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)
p279_SiblingsDF1['bert2SentSim_normed'] = p279_SiblingsDF1['bert2SentSim'].apply(lambda p: 4 - 3 * p)

0.13974285125732422 s

<ipython-input-88-e0247d33ebc1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['node1_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node1_label, 'bert-base-nli-mean-tokens')))

0.12454414367675781 s

<ipython-input-88-e0247d33ebc1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['node2_emb'] = pd.Series(list(getBERTSentEmbeddings(p279_ChildParDF.node2_label, 'bert-base-nli-mean-tokens')))
<ipython-input-88-e0247d33ebc1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert2SentSim'] = p279_ChildParDF.apply(lambda p: cosine_similarity(p.node1_emb.reshape(1,-1), p.node2_emb.reshape(1,-1))[0][0], axis=1)
<ipython-input-88-e0247d33ebc1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert2SentSim_normed'] = p279_ChildParDF['bert2SentSim'].apply(lambda p: 4 - 3 * p)

In [85]:
p279_ChildParDF['gpt2Ppl'] = p279_ChildParDF.sent.apply(getGPT2Score)
p279_ChildParDF['gpt2Ppl_normed'] = p279_ChildParDF['gpt2Ppl'].apply(lambda p: 4 - 3/(1+p))

<ipython-input-85-83ad8e410c3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['gpt2Ppl'] = p279_ChildParDF.sent.apply(getGPT2Score)
<ipython-input-85-83ad8e410c3b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['gpt2Ppl_normed'] = p279_ChildParDF['gpt2Ppl'].apply(lambda p: 4 - 3/(1+p))

In [86]:
p279_ChildParDF['bert_ppl'] = p279_ChildParDF.sent.apply(getBERTScore)
p279_ChildParDF['bert_ppl_normed'] = p279_ChildParDF['bert_ppl'].apply(lambda p: 4 - 3 / (1+p))

<ipython-input-86-ee8882497c76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert_ppl'] = p279_ChildParDF.sent.apply(getBERTScore)
<ipython-input-86-ee8882497c76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p279_ChildParDF['bert_ppl_normed'] = p279_ChildParDF['bert_ppl'].apply(lambda p: 4 - 3 / (1+p))

In [89]:
p279_ChildParDF.describe()

,ID,P_Sim,H_Sim,G_Sim,S_Sim,N_Sim,F_Sim,J_Sim,Average,StdDev,bert2SentSim,gpt2Ppl,gpt2Ppl_normed,bert_ppl,bert_ppl_normed,bert2SentSim_normed
count,25.000000,25.000000,25.00000,25.000000,25.0,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,13.000000,2.320000,2.24000,2.360000,2.0,2.640000,2.200000,2.560000,2.331429,0.453733,0.618659,3.957845,3.299563,4.458129,3.267520,2.144024
std,7.359801,0.556776,0.43589,0.757188,0.0,0.568624,0.408248,0.506623,0.290788,0.198787,0.139203,2.226331,0.237021,3.467866,0.347431,0.417609
min,1.000000,1.000000,2.00000,1.000000,2.0,2.000000,2.000000,2.000000,1.714286,0.000000,0.253893,1.730686,2.901375,1.336585,2.716075,1.356893
25%,7.000000,2.000000,2.00000,2.000000,2.0,2.000000,2.000000,2.000000,2.142857,0.377964,0.532726,2.411533,3.120630,2.238171,3.073551,1.853700
50%,13.000000,2.000000,2.00000,2.000000,2.0,3.000000,2.000000,3.000000,2.285714,0.487950,0.602635,3.229335,3.290669,3.178908,3.282109,2.192096
75%,19.000000,3.000000,2.00000,3.000000,2.0,3.000000,2.000000,3.000000,2.571429,0.534522,0.715433,4.949554,3.495761,5.026380,3.502189,2.401822
max,25.000000,3.000000,3.00000,4.000000,2.0,4.000000,3.000000,3.000000,2.857143,0.786796,0.881036,9.925628,3.725416,12.916186,3.784424,3.238321

### Correlation Coefficients

In [90]:
import scipy.stats as stats

In [91]:
col1 = 'bert2SentSim_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.2084662497345841, pvalue=0.1621791786562139)

In [94]:
col1 = 'bert2SentSim_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.29501981151634904, pvalue=0.1522370779127172)

In [92]:
col1 = 'bert_ppl_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.003533326266687866, pvalue=0.9810989378845247)

In [95]:
col1 = 'bert_ppl_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.009730204865314942, pvalue=0.9631817655673444)

In [93]:
col1 = 'gpt2Ppl_normed'
stats.kendalltau(p279_ChildParDF[col1], p279_ChildParDF['Average'])

KendalltauResult(correlation=0.017666631333439334, pvalue=0.905706418385764)

In [96]:
col1 = 'gpt2Ppl_normed'
stats.spearmanr(p279_ChildParDF[col1], p279_ChildParDF['Average'])

SpearmanrResult(correlation=0.05526756363498887, pvalue=0.7930202504178021)